.hamburger {
    display: none;
  }

  @media only screen and (max-width: 560px) {
	html {
		font-size: 14px;
	}

	.container {
		display: none;
	}


	.hamburger {
		display: block;
		color: #fff;
		font-size: 1.7rem;
		position: absolute;
		top: 10px;
		left: 2px;
    }
  }