<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="static/css/story.css">
</head>
<body>
    <form action="/create" method="post">
      {% csrf_token %}
      <label for="user">User<input type="text" name="user" id="user"> </label>
      <label for="body">Body <input type="text" name="body" id="body"> </label>
      <label for="date">Date <input type="text" name="date" id="date"> </label>
      <label for="title">Title <input type="text" name="title" id="title"> </label>
      <input type="submit" value="Create" />
    </form>
    <table>
      <thead>
        <tr>
        <th>user</th>
        <th>body</th>
        <th>date</th>
        <th>title</th>
        <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        {% for story in storys %}
        <td>{{story.user}}</td>
        <td>{{story.body}}</td>
        <td>{{story.date}}</td>
        <td>{{story.title}}</td>
        <td>{{story.created_at}}</td>
        <td>{{story.updated_at}}</td>
        <td><a href="/edit/{{ story.id }}">Edit </a><a href="/delete/{{ story.id }}"></a>Delete </td>
        {% block content %}
        {% endfor %}
        {% endblock %}
      </tbody> 
    </table>
</body>
</html>
